.body{
  background-color: gray;
}

.container1{
  display:flex;
  flex-direction: column;

}

.container2 {
  display:flex;
  flex-direction: column;

}


.dot {
  height: 25px;
  width: 25px;
   background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
} 

.main-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;

}

.card{
  background-color: grey;
  border-style: solid;
  width:250px;
}
