.body{
  background-color: gray;
}

.card{
  background-color: grey;

  width:100%;
}

.sidenav {
  width: 35vh;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;
  height: 100vh;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vmin;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: black;
  background-color: aquamarine;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  height:auto;
  width:auto;
}

.flex-container > div {
  background-color: grey;
  border-style: solid;
  /* width: 35%; */
  width: 75vh;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: auto;
}

.flex-container > div:hover{

  background-color: aqua;

}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: lightskyblue;
  border-radius: 50%;
  display: inline-block;
}

.rejected:hover{
  color:red;
}

.logout{
  position: absolute;
  bottom: 0;
  right: 35%;
}

.sidenavcontainer{
  display: flex;
  flex-direction: row;
  height: 775px;
}

.container2{
  display: flex;
  flex-direction: column;
  width:auto;
  align-items: center;
}