.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.9; */
}

.modalContainer {
  width: 75%;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalTitle {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalBreakdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* .modalBody {
} */

.viewIndicator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
}

.modalDestination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
.modalFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
  border-top: 3px solid;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
}

.closeButton:hover {
  color: red;
  cursor: pointer;
}
