.button {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: grey;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(0.98);
}

table.admintable {
  border: solid 3px;
  margin-top: 5%;
  width: 100vh;
  height: 500px;
  text-align: center;
}

tr.users {
  border-bottom: solid 3px;
}

tr.usersbody {
  border-bottom: solid 3px;
}

td.usersbody {
  border-right: solid 3px;
}
